print("Arithmetic operations")
print("Enter the first number:")
fnumber=int(input())
print("Enter the second number:")
snumber=int(input())
sum=fnumber+snumber;
sub=fnumber-snumber;
mul=fnumber*snumber; 
try:
  div=fnumber/snumber
except ZeroDivisionError:
  div=0
print("The arithmetic operations are:\n 1.Addition\n 2.Subtraction\n 3.Multiplication\n 4.Division")
print("Choose an option")
option=int(input())
if(option==1):
  {
    print("Sum is",sum)
  }
elif(option==2):
  {
    print("Difference is",sub)
  }
elif(option==3):
  {
   print("Multiplication is",mul)
  }
elif(option==4):
  {
    print("Quotient is",div)
  }
else:
  {
    print("Choose a correct option")
  }
